<section class="container container-fluid mt-5">
  <section class="text-center blogpost-container">
    <h2 id="blog_title">{{blog_title}}</h2>
    <div class="blogpost-content">
      <div class="description">
        <p>{{{description}}}</p>
      </div>
      {{!-- <p>
        <span for="img" aria-label="money"></span>
        <span class="totalTime">{{totalTime}}</span>
        minutes of cooking time
      </p> --}}
    </div>
    <div class="blogpost-content">
      <alt={{{blog_title}}}>
    </div>
    
    <div class="blogpost-content">
      
      {{!-- Replace code with for each loop later --}}
      <ul>
        <li>  <p>{{blog_post}}</p>  </li>
      </ul>
    </div>


    <p>Written by {{user.name}}</p>
  </section>
</section>
