<section class="container container-fluid mt-5">
  <section class="text-center blogpost-container">
    <h2 id="blog_title">{{blog_title}}</h2>
    <div class="blogpost-content">
      <li> <p>{{blog_post}}</p> </li>
    </div>
    <p>Written by {{user.name}}</p>

    {{!-- New comment button --}}
    <input
      type="button"
      value="+ New Comment"
      class="btnNew btn-info btn-new-comment addComments"
      id="newcommentBtn"
    />
  </section>
</section>

<h2> hello</h2>

{{! comments  }}

<div class="comment-list">
  <h3>Comments: </h3>
  {{#if comments.length}}
  {{#each comments as |comment|}}
    <div class="comment-list-card">
      <p>{{comment.blog_comment}}</p>
      <p><b>{{blog_comment.user.name}}</b> </p>

    </div>
  {{/each}}
  {{/if}}
  {{#if logged_in}}

    {{! <button class="btn btn-info" id="addComments"> + Add Comment</button> }}

  {{/if}}
  <div class="comment-container hidden">
    <form class="form new-comment-form">
      <div class="form-group">
        <label for="post-comment">Comment:</label>
        <input
          class="form-input" type="text" id="blog_comment" name="blog_comment"/>
      </div>
 <button type="submit" class="btn btn-primary">Create</button>


        <button type="button" id="cancel-comment" class="btn btn-secondary">Cancel</button>
   
    </form>
  </div>
</div>

<script src="./js/comment.js"></script>