<section class="container container-fluid mt-5">
  <section class="text-center blogpost-container">
    <h2 id="blog_title">{{blog_title}}</h2>

    <div class="description">
      <p>{{{description}}}</p>
    </div>

    <div class="blogpost-content">
      <li> <p>{{blog_post}}</p> </li>
    </div>

    <p>Written by {{user.name}}</p>
  </section>
</section>

{{#each comments as |comment|}}
  <div class="card dashboard-card">
    <div class="card-header">
      <h4>Comment</h4>
    </div>
    <div class="card-body content-card">
      <h4>{{commentary}}</h4>
      <footer class="blockquote-footer">Commented by:
        {{user_name}}
        on
        {{format_date date_created}}</footer>
    </div>
  </div>
{{/each}}