{{!-- <!-- Loop over each object in the projects array -->
<section class="blogposts-container">
  <h1>Posts:</h1>
  <section class="list-container">
  {{#each blogposts as |blogpost| }}
    <div class="blogpost-card">
      <div>
        <h2><a href="/blogpost/{{blogpost.id}}">{{blogpost.blog_title}}</a></h2>
      </div>
      <h2> Hiiiiii</h2>
      {{!-- <div class="blogpost-details">
        <p>By <b>{{blogpost.user.name}}</b></p>
      </div> --}}
      </section>
    {{!-- </div>
    {{#each comments as |comment|}}
  <div class="card dashboard-card">
    <div class="card-header">
      <h4>Comment</h4>
    </div>
    <div class="card-body content-card">
      <h4>{{commentary}}</h4>
      <footer class="blockquote-footer">Commented by:
        {{user_name}}
        on
        {{format_date date}}</footer>
    </div>
  </div> --}}
  {{/each}}
  
  
</section>


 --}}
